
.footer {
    @include flex(space-between, center, row);
    padding: 32px 24px;
    max-height: 90px;
    background-color: $FONT-COLOR;
     &__inner {
        @include flex(space-between, center);
        flex: 1;
        max-width: 1500px;
        margin: 0 auto;
    }
    
    &__desc {
        display: block;
        flex-basis: 33.33%;
        text-align: center;
        @include text($H16, 300, $FOOTER_FONT-COLOR);
        @include media(838px) {
            margin: 0 -40px;
        }
        &--red {
            color: $FOOTER_LOVE-COLOR;
        }

    }
}
