.header {
    background-image: url('../assets/images/img-bg_HEADER.png');
    background-size: cover;
    background-position: center;
    position: relative;
    &__container {
        min-height: 100vh;
        @include flex(center, stretch, column);
    }
    &__content {
        width: 100%;
        @include flex(center, flex-start, column);
        margin-top: 230px;
    }
    &__title {
        @include text($H60, 900, $FONT-COLOR);
        font-family: $BASE-FONT;
        margin-bottom: 30px;
    }
    &__desc {
        @include text($H17, 300, $FONT-COLOR);
        max-width: 374px;
        text-align: center;
        margin-bottom: 20px;
    
        line-height: 1.5;
    }
    &__scroll {
        // align-self: center;
        margin-top: 255px;
        position: absolute;
        left: 50%;
      }
}


