
.navigation {
    &__container {
        height: 100px;
        @include flex(space-between, center);
      }
    &__list {
        @include text($H16, 700);
        font-family: $BASE-FONT;
        @include flex (center, center);
    }
    &__item {
        padding-top: 4px;
        display: inline;
        text-transform: uppercase;
    }
    &__item:hover {
        border-top: 3px solid $BUTTON_HEADER-COLOR;
    }
    &__link {
        color: $FONT-COLOR;
    }
    &__item:not(:last-of-type) {
        margin-right: 30px;
    }
}