<div class="section-contact__background">
    <a name='contact'></a>
    <section class="section-contact container">
        <h2 class="title">Contact</h2>
        <p class="section-contact__desc">For new projects, ideas, business or anything
            you'd like to discuss, contact with me!</p>
    <div class="section-contact__main">
        <form class="form section-contact__form" action="">
            <input required placeholder="Your name..." class="form__input--contact-section" type="text">
            <input required placeholder="Your email..." class="form__input--contact-section" type="email">
            <input required placeholder="Your phone number..." class="form__input--contact-section" type="tel">
            <textarea placeholder="Your message..." class="form__textarea"></textarea>
        </form>
        <div class="contact">
            <h3 class="contact__title">address</h3>
            <span class="contact__desc">123 City name, Street, City, Country</span>
            <h3 class="contact__title">email</h3>
            <span class="contact__desc">cahee@domain.com</span>
            <h3 class="contact__title">phone</h3>
            <span class="contact__desc">+012 345 6789</span>
        </div>
    </div>
    </div>
    </section>
    <footer class="footer">
        <div class="container footer__inner">
        <div class="footer__desc">© 2015 Company. All right reserved.</div>
        <a class="logo__footer" href="#cahee">Cahee</a>
        <div class="footer__desc">Made with <span class="footer__desc--red">love</span> 
            by Auskteez</div>
        </div>
    </footer>