<div class="gallery__background">
    <a name='gallery'></a>
<section class="gallery container">
    <h2 class="title title__gallery">Gallery</h2>
    <p class="gallery__desc">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
        ut aliquip ex ea commodo consequat.</p>
</head>
<body>
  <div class="grid">
    <img class="grid__item" src="/assets/images/grid_img-1.png" alt="image">
    <img class="grid__item" src="/assets/images/grid_img-2.png" alt="image">
    <img class="grid__item" src="/assets/images/grid_img-3.png" alt="image">
    <img class="grid__item" src="/assets/images/grid_img-4.png" alt="image">
    <img class="grid__item" src="/assets/images/grid_img-5.png" alt="image">
  </div>
</body>
<button class="button button--grey">VIEW MORE</button>
</section>
