
<header class="header">
<a name='home'></a>
<nav class="navigation">
  <div class="container navigation__container">
    <logo class="logo__header">Cahee</logo>
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="#home">HOME</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#about">ABOUT</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#services">SERVICES</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#gallery">GALLERY</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#blog">BLOG</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#contact">CONTACT</a>
        </li>
      </ul>
    </div>
</nav>
  <div class="container header__container">
  <section class="header__content">
    <h1 class="header__title">Fresh Life</h1>
      <p class="header__desc">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <button class="button button--orange">GET FREE NOW</button>
  </section>
  <a class="scroll-button header__scroll " href="#about"></a>
  </div>
</header>
