<div class="services__background">
<section class="container services">
    <a name='services'></a>
    <ul class="services-list">
        <li class="services-list__item">
            <div class="services-item">
            <span class="services-item__name">Online Shopping</span>
                <div class="services-item__icon-wrapper">
                 <img class="services-item__icon" src="/assets/svg/icon_shopping.svg" alt="">
                </div>
            </div>
        </li>
        <li class="services-list__item">
            <div class="services-item">
            <span class="services-item__name">Quality Product</span>
                <div class="services-item__icon-wrapper">
                 <img class="services-item__icon" src="/assets/svg/icon_product.svg" alt="">
                </div>
            </div>
        </li>
        <li class="services-list__item">
            <div class="services-item">
            <span class="services-item__name--large">Domestic & International Delivery</span>
                <div class="services-item__icon-wrapper">
                 <img class="services-item__icon" src="/assets/svg/icon_international.svg" alt="">
                </div>
            </div>
        </li>
        <li class="services-list__item">
            <div class="services-item">
            <span class="services-item__name">Well Organized</span>
                <div class="services-item__icon-wrapper">
                 <img class="services-item__icon" src="/assets/svg/icon_organized.svg" alt="">
                </div>
            </div>
        </li>
    </ul>
     <div class="services__banner">
        <h2 class="title title--white">Our Services</h2>
     </div>
</section>
</div>