<div class="subscribe__background">
    <section class="subscribe container">
        <h3 class="subscribe__subtitle">Subscribe To Us</h3>
        <p class="subscribe__desc">Dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
         <form class="form subscribe__form" action="">
         <input placeholder="Your email address..." class="form__input--subscribe" type="email">
        <button class="button button--green" type="submit">SUBSCRIBE</button>
         </form>
        </section>
</div>
