$BUTTON_HEADER-COLOR: #ff6033; 
$BUTTON_GALLERY-COLOR: #5585a2;
$BUTTON_SUBSCRIBE-COLOR:#96b92c;
$BUTTON_BLOG-COLOR: #f72b3b;  
$BG-SECTION_ABOUT-COLOR: #00c4c4;
$BG-SECTION_SERVICES-COLOR: #70bfff;
$BG-SECTION_GALLERY-COLOR: #ffe92f;
$BG-SECTION_BLOG-COLOR: #b07cf7;
$WHITE: #ffff;
$BLACK: #0000;
$FONT-COLOR: #262626;
$BORDER_LINE-COLOR:#9d9d9d;
$CONTENT-GRADIENT: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
$INPUT-BG_FOOTER-COLOR:  rgba(0, 196, 196, 0.5);
$INPUT-BORDER-COLOR: #355b82;
$INPUT-FOCUS-COLOR:#00c4c4;
$FOOTER_LOVE-COLOR: #FF0000;
$FOOTER_FONT-COLOR: #b9b9b9;


//FONTS
$base-font-size: 16px;
$LOGO-FONT: 'Pacifico';
$BASE-FONT: 'Raleway';


//Font Sizes
@function calcRem($size) {
    $remSize: $size / $base-font-size;
    @return #{$remSize}rem;
}

$H13: calcRem(13px);
$H16: calcRem(16px);
$H15: calcRem(15px);
$H17: calcRem(17px);
$H20: calcRem(20px);
$H21: calcRem(21px);
$H25: calcRem(25px);
$H32: calcRem(32px);
$H40: calcRem(40px);
$H48: calcRem(48px);
$H60: calcRem(60px);
$H90: calcRem(90px);

